@keyframes line_1 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 63%;
		top: 79.5%;
		width: 4.1%;
		height: 0.41%;
	}
}

@-moz-keyframes line_1 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 63%;
		top: 79.5%;
		width: 4.1%;
		height: 0.41%;
	}
}

@-webkit-keyframes line_1 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 63%;
		top: 79.5%;
		width: 4.1%;
		height: 0.41%;
	}
}

@-o-keyframes line_1 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 63%;
		top: 79.5%;
		width: 4.1%;
		height: 0.41%;
	}
}

@keyframes line_2 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44.8%;
		top: 79.2%;
		width: 8.31%;
		height: 2.46%;
	}
}

@-moz-keyframes line_2 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44.8%;
		top: 79.2%;
		width: 8.31%;
		height: 2.46%;
	}
}

@-webkit-keyframes line_2 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44.8%;
		top: 79.2%;
		width: 8.31%;
		height: 2.46%;
	}
}

@-o-keyframes line_2 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44.8%;
		top: 79.2%;
		width: 8.31%;
		height: 2.46%;
	}
}

@keyframes line_3 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12%;
		top: 60%;
		width: 2.74%;
		height: 2.55%;
	}
}

@-moz-keyframes line_3 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12%;
		top: 60%;
		width: 2.74%;
		height: 2.55%;
	}
}

@-webkit-keyframes line_3 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12%;
		top: 60%;
		width: 2.74%;
		height: 2.55%;
	}
}

@-o-keyframes line_3 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12%;
		top: 60%;
		width: 2.74%;
		height: 2.55%;
	}
}
@keyframes line_4 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 49.5%;
	    top: 16.3%;
		width: 3.55%;
		height: 2.21%;
	}
}

@-moz-keyframes line_4 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 49.5%;
	    top: 16.3%;
		width: 3.55%;
		height: 2.21%;
	}
}

@-webkit-keyframes line_4 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 49.5%;
	    top: 16.3%;
		width: 3.55%;
		height: 2.21%;
	}
}

@-o-keyframes line_4 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 49.5%;
	    top: 16.3%;
		width: 3.55%;
		height: 2.21%;
	}
}

@keyframes line_5 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86.2%;
	    top: 34.4%;
		width: 4.8%;
		height: 4.38%;
	}
}

@-moz-keyframes line_5 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86.2%;
	    top: 34.4%;
		width: 4.8%;
		height: 4.38%;
	}
}

@-webkit-keyframes line_5 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86.2%;
	    top: 34.4%;
		width: 4.8%;
		height: 4.38%;
	}
}

@-o-keyframes line_5 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86.2%;
	    top: 34.4%;
		width: 4.8%;
		height: 4.38%;
	}
}

@keyframes line_6 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 78.3%;
	    top: 68.5%;
		width: 4.4%;
		height: 3.91%;
	}
}

@-moz-keyframes line_6 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 78.3%;
	    top: 68.5%;
		width: 4.4%;
		height: 3.91%;
	}
}

@-webkit-keyframes line_6 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 78.3%;
	    top: 68.5%;
		width: 4.4%;
		height: 3.91%;
	}
}

@-o-keyframes line_6 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 78.3%;
	    top: 68.5%;
		width: 4.4%;
		height: 3.91%;
	}
}

@keyframes line_7 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72%;
	    top: 38.5%;
		width: 2.46%;
		height: 5.83%;
	}
}

@-moz-keyframes line_7 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72%;
	    top: 38.5%;
		width: 2.46%;
		height: 5.83%;
	}
}

@-webkit-keyframes line_7 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72%;
	    top: 38.5%;
		width: 2.46%;
		height: 5.83%;
	}
}

@-o-keyframes line_7 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72%;
	    top: 38.5%;
		width: 2.46%;
		height: 5.83%;
	}
}

@keyframes line_8 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72%;
	    top: 38.5%;
		width: 2.46%;
		height: 5.83%;
	}
}

@-moz-keyframes line_8 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 26.5%;
	    top: 28.7%;
		width: 6.05%;
		height: 3.45%;
	}
}

@-webkit-keyframes line_8 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 26.5%;
	    top: 28.7%;
		width: 6.05%;
		height: 3.45%;
	}
}

@-o-keyframes line_8 {
	0% {
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
		left: 26.5%;
	    top: 28.7%;
		width: 6.05%;
		height: 3.45%;
	}
}


@keyframes line_9 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 73.5%;
		top: 66.7%;
		width: 6.77%;
		height: 4.26%;
	}
}

@-moz-keyframes line_9 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 73.5%;
		top: 66.7%;
		width: 6.77%;
		height: 4.26%;
	}
}

@-webkit-keyframes line_9 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 73.5%;
		top: 66.7%;
		width: 6.77%;
		height: 4.26%;
	}
}

@-o-keyframes line_9 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 73.5%;
		top: 66.7%;
		width: 6.77%;
		height: 4.26%;
	}
}

@keyframes line_10 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 51.2%;
		top: 33.5%;
		width: 7.42%;
		height: 2.14%;
	}
}

@-moz-keyframes line_10 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 51.2%;
		top: 33.5%;
		width: 7.42%;
		height: 2.14%;
	}
}

@-webkit-keyframes line_10 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 51.2%;
		top: 33.5%;
		width: 7.42%;
		height: 2.14%;
	}
}

@-o-keyframes line_10 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 51.2%;
		top: 33.5%;
		width: 7.42%;
		height: 2.14%;
	}
}

@keyframes line_11 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 10%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 24.5%;
		top: 22.5%;
		width: 5.48%;
		height: 1.99%;
	}
}

@-moz-keyframes line_11 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 10%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 24.5%;
		top: 22.5%;
		width: 5.48%;
		height: 1.99%;
	}
}

@-webkit-keyframes line_11 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 10%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 24.5%;
		top: 22.5%;
		width: 5.48%;
		height: 1.99%;
	}
}

@-o-keyframes line_11 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 10%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 24.5%;
		top: 22.5%;
		width: 5.48%;
		height: 1.99%;
	}
}

@keyframes line_12 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 14%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86%;
		top: 38%;
		width: 2.74%;
		height: 4.1%;
	}
}

@-moz-keyframes line_12 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 14%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86%;
		top: 38%;
		width: 2.74%;
		height: 4.1%;
	}
}

@-webkit-keyframes line_12 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 14%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86%;
		top: 38%;
		width: 2.74%;
		height: 4.1%;
	}
}

@-o-keyframes line_12 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 14%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 86%;
		top: 38%;
		width: 2.74%;
		height: 4.1%;
	}
}

@keyframes line_13 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 4%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 52.5%;
		top: 25.3%;
		width: 7.5%;
		height: 0.38%;
	}
}

@-moz-keyframes line_13 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 4%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 52.5%;
		top: 25.3%;
		width: 7.5%;
		height: 0.38%;
	}
}

@-webkit-keyframes line_13 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 4%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 52.5%;
		top: 25.3%;
		width: 7.5%;
		height: 0.38%;
	}
}

@-o-keyframes line_13 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 4%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 52.5%;
		top: 25.3%;
		width: 7.5%;
		height: 0.38%;
	}
}

@keyframes line_14 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 25%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 58%;
		top: 23.5%;
		width: 7.78%;
		height: 2.52%;
	}
}

@-moz-keyframes line_14 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 25%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 58%;
		top: 23.5%;
		width: 7.78%;
		height: 2.52%;
	}
}

@-webkit-keyframes line_14 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 25%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 58%;
		top: 23.5%;
		width: 7.78%;
		height: 2.52%;
	}
}

@-o-keyframes line_14 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 25%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 58%;
		top: 23.5%;
		width: 7.78%;
		height: 2.52%;
	}
}

@keyframes line_15 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31%;
		top: 25.5%;
		width: 8.51%;
		height: 6.56%;
	}
}

@-moz-keyframes line_15 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31%;
		top: 25.5%;
		width: 8.51%;
		height: 6.56%;
	}
}

@-webkit-keyframes line_15 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31%;
		top: 25.5%;
		width: 8.51%;
		height: 6.56%;
	}
}

@-o-keyframes line_15 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31%;
		top: 25.5%;
		width: 8.51%;
		height: 6.56%;
	}
}

@keyframes line_16 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 40%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 79.5%;
		width: 3.63%;
		height: 0.31%;
	}
}

@-moz-keyframes line_16 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 40%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 79.5%;
		width: 3.63%;
		height: 0.31%;
	}
}

@-webkit-keyframes line_16 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 40%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 79.5%;
		width: 3.63%;
		height: 0.31%;
	}
}

@-o-keyframes line_16 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 40%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 79.5%;
		width: 3.63%;
		height: 0.31%;
	}
}

@keyframes line_17 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 70%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.7%;
		top: 76.6%;
		width: 2.02%;
		height: 1.29%;
	}
}

@-moz-keyframes line_17 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 70%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.7%;
		top: 76.6%;
		width: 2.02%;
		height: 1.29%;
	}
}

@-webkit-keyframes line_17 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 70%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.7%;
		top: 76.6%;
		width: 2.02%;
		height: 1.29%;
	}
}

@-o-keyframes line_17 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 70%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.7%;
		top: 76.6%;
		width: 2.02%;
		height: 1.29%;
	}
}

@keyframes line_18 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 90%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19%;
		top: 27%;
		width: 5.77%;
		height: 2.49%;
	}
}

@-moz-keyframes line_18 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 90%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19%;
		top: 27%;
		width: 5.77%;
		height: 2.49%;
	}
}

@-webkit-keyframes line_18 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 90%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19%;
		top: 27%;
		width: 5.77%;
		height: 2.49%;
	}
}

@-o-keyframes line_18 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 90%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19%;
		top: 27%;
		width: 5.77%;
		height: 2.49%;
	}
}

@keyframes line_19 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19.7%;
		top: 65.5%;
		width: 6.01%;
		height: 2.77%;
	}
}

@-moz-keyframes line_19 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19.7%;
		top: 65.5%;
		width: 6.01%;
		height: 2.77%;
	}
}

@-webkit-keyframes line_19 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19.7%;
		top: 65.5%;
		width: 6.01%;
		height: 2.77%;
	}
}

@-o-keyframes line_19 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 10%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 19.7%;
		top: 65.5%;
		width: 6.01%;
		height: 2.77%;
	}
}

@keyframes line_20 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12.7%;
		top: 50.5%;
		width: 2.5%;
		height: 5.39%;
	}
}

@-moz-keyframes line_20 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12.7%;
		top: 50.5%;
		width: 2.5%;
		height: 5.39%;
	}
}

@-webkit-keyframes line_20 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12.7%;
		top: 50.5%;
		width: 2.5%;
		height: 5.39%;
	}
}

@-o-keyframes line_20 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 12.7%;
		top: 50.5%;
		width: 2.5%;
		height: 5.39%;
	}
}

@keyframes line_21 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 90%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 40%;
		width: 1.85%;
		height: 5.04%;
	}
}

@-moz-keyframes line_21 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 90%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 40%;
		width: 1.85%;
		height: 5.04%;
	}
}

@-webkit-keyframes line_21 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 90%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 40%;
		width: 1.85%;
		height: 5.04%;
	}
}

@-o-keyframes line_21 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 90%;
		top: 17%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 40%;
		width: 1.85%;
		height: 5.04%;
	}
}

@keyframes line_22 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 3%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56.7%;
		top: 67%;
		width: 8.3%;
		height: 0.54%;
	}
}

@-moz-keyframes line_22 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 3%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56.7%;
		top: 67%;
		width: 8.3%;
		height: 0.54%;
	}
}

@-webkit-keyframes line_22 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 3%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56.7%;
		top: 67%;
		width: 8.3%;
		height: 0.54%;
	}
}

@-o-keyframes line_22 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 3%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56.7%;
		top: 67%;
		width: 8.3%;
		height: 0.54%;
	}
}

@keyframes line_23 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 50%;
		width: 3.18%;
		height: 4.19%;
	}
}

@-moz-keyframes line_23 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 50%;
		width: 3.18%;
		height: 4.19%;
	}
}

@-webkit-keyframes line_23 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 50%;
		width: 3.18%;
		height: 4.19%;
	}
}

@-o-keyframes line_23 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 15%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15%;
		top: 50%;
		width: 3.18%;
		height: 4.19%;
	}
}

@keyframes line_24 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 38%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39%;
		top: 79.5%;
		width: 5.56%;
		height: 0.03%;
	}
}

@-moz-keyframes line_24 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 38%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39%;
		top: 79.5%;
		width: 5.56%;
		height: 0.03%;
	}
}

@-webkit-keyframes line_24 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 38%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39%;
		top: 79.5%;
		width: 5.56%;
		height: 0.03%;
	}
}

@-o-keyframes line_24 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 38%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39%;
		top: 79.5%;
		width: 5.56%;
		height: 0.03%;
	}
}

@keyframes line_25 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 56%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 22.5%;
		top: 54.8%;
		width: 9.64%;
		height: 5.04%;
	}
}

@-moz-keyframes line_25 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 56%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 22.5%;
		top: 54.8%;
		width: 9.64%;
		height: 5.04%;
	}
}

@-webkit-keyframes line_25 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 56%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 22.5%;
		top: 54.8%;
		width: 9.64%;
		height: 5.04%;
	}
}

@-o-keyframes line_25 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 56%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 22.5%;
		top: 54.8%;
		width: 9.64%;
		height: 5.04%;
	}
}

@keyframes line_26 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 54%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 27.8%;
		top: 66%;
		width: 8.27%;
		height: 7.57%;
	}
}

@-moz-keyframes line_26 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 54%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 27.8%;
		top: 66%;
		width: 8.27%;
		height: 7.57%;
	}
}

@-webkit-keyframes line_26 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 54%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 27.8%;
		top: 66%;
		width: 8.27%;
		height: 7.57%;
	}
}

@-o-keyframes line_26 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 54%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 27.8%;
		top: 66%;
		width: 8.27%;
		height: 7.57%;
	}
}

@keyframes line_27 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 57%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31.5%;
		top: 52.3%;
		width: 9.35%;
		height: 4.13%;
	}
}

@-moz-keyframes line_27 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 57%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31.5%;
		top: 52.3%;
		width: 9.35%;
		height: 4.13%;
	}
}

@-webkit-keyframes line_27 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 57%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31.5%;
		top: 52.3%;
		width: 9.35%;
		height: 4.13%;
	}
}

@-o-keyframes line_27 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 57%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 31.5%;
		top: 52.3%;
		width: 9.35%;
		height: 4.13%;
	}
}

@keyframes line_28 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 19%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15.3%;
		top: 59.5%;
		width: 2.82%;
		height: 2.3%;
	}
}

@-moz-keyframes line_28 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 19%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15.3%;
		top: 59.5%;
		width: 2.82%;
		height: 2.3%;
	}
}

@-webkit-keyframes line_28 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 19%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15.3%;
		top: 59.5%;
		width: 2.82%;
		height: 2.3%;
	}
}

@-o-keyframes line_28 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 19%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 15.3%;
		top: 59.5%;
		width: 2.82%;
		height: 2.3%;
	}
}

@keyframes line_29 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 45.7%;
		top: 63%;
		width: 10.08%;
		height: 5.61%;
	}
}

@-moz-keyframes line_29 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 45.7%;
		top: 63%;
		width: 10.08%;
		height: 5.61%;
	}
}

@-webkit-keyframes line_29 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 45.7%;
		top: 63%;
		width: 10.08%;
		height: 5.61%;
	}
}

@-o-keyframes line_29 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 45.7%;
		top: 63%;
		width: 10.08%;
		height: 5.61%;
	}
}


@keyframes line_30 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 32.2%;
		top: 62%;
		width: 7.66%;
		height: 7.41%;
	}
}

@-moz-keyframes line_30 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 32.2%;
		top: 62%;
		width: 7.66%;
		height: 7.41%;
	}
}

@-webkit-keyframes line_30 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 32.2%;
		top: 62%;
		width: 7.66%;
		height: 7.41%;
	}
}

@-o-keyframes line_30 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 32.2%;
		top: 62%;
		width: 7.66%;
		height: 7.41%;
	}
}

@keyframes line_31 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 62%;
		top: 49.5%;
		width: 9.31%;
		height: 8.57%;
	}
}

@-moz-keyframes line_31 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 62%;
		top: 49.5%;
		width: 9.31%;
		height: 8.57%;
	}
}

@-webkit-keyframes line_31 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 62%;
		top: 49.5%;
		width: 9.31%;
		height: 8.57%;
	}
}

@-o-keyframes line_31 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 62%;
		top: 49.5%;
		width: 9.31%;
		height: 8.57%;
	}
}

@keyframes line_32 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 43%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44%;
		top: 22.3%;
		width: 9.96%;
		height: 5.33%;
	}
}

@-moz-keyframes line_32 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 43%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44%;
		top: 22.3%;
		width: 9.96%;
		height: 5.33%;
	}
}

@-webkit-keyframes line_32 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 43%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44%;
		top: 22.3%;
		width: 9.96%;
		height: 5.33%;
	}
}

@-o-keyframes line_32 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 43%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 44%;
		top: 22.3%;
		width: 9.96%;
		height: 5.33%;
	}
}

@keyframes line_33 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 13%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39.7%;
		top: 35.7%;
		width: 9.8%;
		height: 7.94%;
	}
}

@-moz-keyframes line_33 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 13%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39.7%;
		top: 35.7%;
		width: 9.8%;
		height: 7.94%;
	}
}

@-webkit-keyframes line_33 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 13%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39.7%;
		top: 35.7%;
		width: 9.8%;
		height: 7.94%;
	}
}

@-o-keyframes line_33 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 13%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 39.7%;
		top: 35.7%;
		width: 9.8%;
		height: 7.94%;
	}
}

@keyframes line_34 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 33%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 59%;
		top: 80%;
		width: 4.23%;
		height: 1.83%;
	}
}

@-moz-keyframes line_34 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 33%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 59%;
		top: 80%;
		width: 4.23%;
		height: 1.83%;
	}
}

@-webkit-keyframes line_34 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 33%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 59%;
		top: 80%;
		width: 4.23%;
		height: 1.83%;
	}
}

@-o-keyframes line_34 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 33%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 59%;
		top: 80%;
		width: 4.23%;
		height: 1.83%;
	}
}

@keyframes line_35 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 78%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 84.3%;
		top: 61.7%;
		width: 3.91%;
		height: 3.4%;
	}
}

@-moz-keyframes line_35 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 78%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 84.3%;
		top: 61.7%;
		width: 3.91%;
		height: 3.4%;
	}
}

@-webkit-keyframes line_35 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 78%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 84.3%;
		top: 61.7%;
		width: 3.91%;
		height: 3.4%;
	}
}

@-o-keyframes line_35 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 78%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 84.3%;
		top: 61.7%;
		width: 3.91%;
		height: 3.4%;
	}
}

@keyframes line_36 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 37%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 43%;
		top: 30.7%;
		width: 9.96%;
		height: 7.72%;
	}
}

@-moz-keyframes line_36 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 37%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 43%;
		top: 30.7%;
		width: 9.96%;
		height: 7.72%;
	}
}

@-webkit-keyframes line_36 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 37%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 43%;
		top: 30.7%;
		width: 9.96%;
		height: 7.72%;
	}
}

@-o-keyframes line_36 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 37%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 43%;
		top: 30.7%;
		width: 9.96%;
		height: 7.72%;
	}
}

@keyframes line_37 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 53%;
		top: 26.7%;
		width: 6.9%;
		height: 7.85%;
	}
}

@-moz-keyframes line_37 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 53%;
		top: 26.7%;
		width: 6.9%;
		height: 7.85%;
	}
}

@-webkit-keyframes line_37 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 53%;
		top: 26.7%;
		width: 6.9%;
		height: 7.85%;
	}
}

@-o-keyframes line_37 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 53%;
		top: 26.7%;
		width: 6.9%;
		height: 7.85%;
	}
}

@keyframes line_38 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 58.5%;
		width: 5.56%;
		height: 4.67%;
	}
}

@-moz-keyframes line_38 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 58.5%;
		width: 5.56%;
		height: 4.67%;
	}
}

@-webkit-keyframes line_38 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 58.5%;
		width: 5.56%;
		height: 4.67%;
	}
}

@-o-keyframes line_38 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 77%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 58.5%;
		width: 5.56%;
		height: 4.67%;
	}
}

@keyframes line_39 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 21%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 52%;
		width: 9.64%;
		height: 8.86%;
	}
}

@-moz-keyframes line_39 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 21%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 52%;
		width: 9.64%;
		height: 8.86%;
	}
}

@-webkit-keyframes line_39 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 21%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 52%;
		width: 9.64%;
		height: 8.86%;
	}
}

@-o-keyframes line_39 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 21%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 29%;
		top: 52%;
		width: 9.64%;
		height: 8.86%;
	}
}

@keyframes line_40 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 31%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 34.7%;
		top: 59.7%;
		width: 7.9%;
		height: 3.59%;
	}
}

@-moz-keyframes line_40 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 31%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 34.7%;
		top: 59.7%;
		width: 7.9%;
		height: 3.59%;
	}
}

@-webkit-keyframes line_40 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 31%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 34.7%;
		top: 59.7%;
		width: 7.9%;
		height: 3.59%;
	}
}

@-o-keyframes line_40 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 31%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 34.7%;
		top: 59.7%;
		width: 7.9%;
		height: 3.59%;
	}
}

@keyframes line_41 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 21%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 37.2%;
		top: 62%;
		width: 10.6%;
		height: 7.82%;
	}
}

@-moz-keyframes line_41 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 21%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 37.2%;
		top: 62%;
		width: 10.6%;
		height: 7.82%;
	}
}

@-webkit-keyframes line_41 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 21%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 37.2%;
		top: 62%;
		width: 10.6%;
		height: 7.82%;
	}
}

@-o-keyframes line_41 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 21%;
		top: 0%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 37.2%;
		top: 62%;
		width: 10.6%;
		height: 7.82%;
	}
}

@keyframes line_42 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 16%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 64.3%;
		top: 19%;
		width: 5.4%;
		height: 3.62%;
	}
}

@-moz-keyframes line_42 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 16%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 64.3%;
		top: 19%;
		width: 5.4%;
		height: 3.62%;
	}
}

@-webkit-keyframes line_42 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 16%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 64.3%;
		top: 19%;
		width: 5.4%;
		height: 3.62%;
	}
}

@-o-keyframes line_42 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 0%;
		top: 16%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 64.3%;
		top: 19%;
		width: 5.4%;
		height: 3.62%;
	}
}

@keyframes line_43 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 24.3%;
		width: 11.05%;
		height: 8.57%;
	}
}

@-moz-keyframes line_43 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 24.3%;
		width: 11.05%;
		height: 8.57%;
	}
}

@-webkit-keyframes line_43 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 24.3%;
		width: 11.05%;
		height: 8.57%;
	}
}

@-o-keyframes line_43 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 22%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 57%;
		top: 24.3%;
		width: 11.05%;
		height: 8.57%;
	}
}

@keyframes line_44 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56%;
		top: 18.3%;
		width: 9.8%;
		height: 6.4%;
	}
}

@-moz-keyframes line_44 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56%;
		top: 18.3%;
		width: 9.8%;
		height: 6.4%;
	}
}

@-webkit-keyframes line_44 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56%;
		top: 18.3%;
		width: 9.8%;
		height: 6.4%;
	}
}

@-o-keyframes line_44 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 47%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 56%;
		top: 18.3%;
		width: 9.8%;
		height: 6.4%;
	}
}

@keyframes line_45 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 88%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72.5%;
		top: 31.7%;
		width: 7.82%;
		height: 7.98%;
	}
}

@-moz-keyframes line_45 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 88%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72.5%;
		top: 31.7%;
		width: 7.82%;
		height: 7.98%;
	}
}

@-webkit-keyframes line_45 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 88%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72.5%;
		top: 31.7%;
		width: 7.82%;
		height: 7.98%;
	}
}

@-o-keyframes line_45 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 88%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 72.5%;
		top: 31.7%;
		width: 7.82%;
		height: 7.98%;
	}
}

@keyframes line_46 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 55%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 35%;
		top: 54%;
		width: 10.89%;
		height: 7.31%;
	}
}

@-moz-keyframes line_46 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 55%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 35%;
		top: 54%;
		width: 10.89%;
		height: 7.31%;
	}
}

@-webkit-keyframes line_46 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 55%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 35%;
		top: 54%;
		width: 10.89%;
		height: 7.31%;
	}
}

@-o-keyframes line_46 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 55%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 35%;
		top: 54%;
		width: 10.89%;
		height: 7.31%;
	}
}

@keyframes line_47 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 55%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 62%;
		width: 4.68%;
		height: 3.5%;
	}
}

@-moz-keyframes line_47 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 55%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 62%;
		width: 4.68%;
		height: 3.5%;
	}
}

@-webkit-keyframes line_47 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 55%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 62%;
		width: 4.68%;
		height: 3.5%;
	}
}

@-o-keyframes line_47 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 55%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 62%;
		width: 4.68%;
		height: 3.5%;
	}
}

@keyframes line_48 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 77%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 66%;
		width: 5.36%;
		height: 4.13%;
	}
}

@-moz-keyframes line_48 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 77%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 66%;
		width: 5.36%;
		height: 4.13%;
	}
}

@-webkit-keyframes line_48 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 77%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 66%;
		width: 5.36%;
		height: 4.13%;
	}
}

@-o-keyframes line_48 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 77%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 18.3%;
		top: 66%;
		width: 5.36%;
		height: 4.13%;
	}
}

@keyframes line_49 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.5%;
		top: 67%;
		width: 7.22%;
		height: 6.49%;
	}
}

@-moz-keyframes line_49 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.5%;
		top: 67%;
		width: 7.22%;
		height: 6.49%;
	}
}

@-webkit-keyframes line_49 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.5%;
		top: 67%;
		width: 7.22%;
		height: 6.49%;
	}
}

@-o-keyframes line_49 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 30.5%;
		top: 67%;
		width: 7.22%;
		height: 6.49%;
	}
}

@keyframes line_50 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 75%;
		top: 56.8%;
		width: 6.33%;
		height: 4.88%;
	}
}

@-moz-keyframes line_50 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 75%;
		top: 56.8%;
		width: 6.33%;
		height: 4.88%;
	}
}

@-webkit-keyframes line_50 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 75%;
		top: 56.8%;
		width: 6.33%;
		height: 4.88%;
	}
}

@-o-keyframes line_50 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 100%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 75%;
		top: 56.8%;
		width: 6.33%;
		height: 4.88%;
	}
}

@keyframes line_51 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 67%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 80%;
		top: 60.8%;
		width: 4.4%;
		height: 3.31%;
	}
}

@-moz-keyframes line_51 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 67%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 80%;
		top: 60.8%;
		width: 4.4%;
		height: 3.31%;
	}
}

@-webkit-keyframes line_51 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 67%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 80%;
		top: 60.8%;
		width: 4.4%;
		height: 3.31%;
	}
}

@-o-keyframes line_51 {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 100%;
		top: 67%;
		width: 0;
		height: 0;
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 80%;
		top: 60.8%;
		width: 4.4%;
		height: 3.31%;
	}
}

@keyframes line_ {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-moz-keyframes line_ {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-webkit-keyframes line_ {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-o-keyframes line_ {
	from{
		opacity: 0;
		filter: alpha(opacity=0);
	}
	to{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}